:root {
  font-size: 16px;
  font-family: "Noto Sans", sans-serif;
  --background: #003d5b;
  --primary: #30638e;
  --secondary: #00798c;
  --warm: #d1495b;
  --light: #edae49;
  --white: #fff;
  --dark: #353535;
  --dark-hover: #404040;
  --black: #202020;
}

body {
  margin: 0;
  padding: 0;
}

.screen-flex-container {
  display: flex;
  flex-direction: column;
}

.intro-screen {
  background: rgb(48, 99, 142);
  background: linear-gradient(
    135deg,
    rgba(48, 99, 142, 1) 0%,
    rgba(0, 61, 91, 1) 35%,
    rgba(0, 28, 42, 1) 100%
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin-left: 5rem;
}

.navbar {
  background-color: var(--dark);
  width: 5rem;
  height: 100vh;
  position: fixed;
  transition: width 300ms ease;
}

.navbar:hover {
  width: 12rem;
}

.navbar:hover .link-text {
  opacity: 1;
  transition: 500ms ease-in;
  visibility: visible;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-item {
  width: 100%;
}

.nav-item:nth-child(5) {
  margin-top: auto;
}

.nav-link {
  color: var(--white);
  display: flex;
  align-items: center;
  height: 5rem;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: 500ms;
}

.nav-link:hover {
  background-color: var(--dark-hover);
  filter: grayscale(0%) opacity(1);
}

.link-text {
  color: var(--light);
  margin: 1rem;
  opacity: 0;
  visibility: hidden;
}

.icon {
  color: var(--light);
  font-size: 1.5rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.logo {
  color: var(--white);
  filter: opacity(0.9);
  font-family: "Do Hyeon", sans-serif;
  margin: 1.2rem 1.2rem;
}

.screen {
  display: flex;
  flex-direction: column;
  height: 35rem;
  margin: auto;
  width: 50rem;
}

.screen-bar {
  align-items: center;
  background-color: var(--primary);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  display: flex;
  height: 2rem;
  justify-content: flex-start;
  margin-top: 0;
  width: 100%;
}

.screen-text-area {
  align-items: center;
  background-color: var(--dark);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  filter: opacity(0.8);
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.screen-name,
.screen-title,
.screen-school,
.screen-connect-button {
  filter: opacity(1);
}

.screen-name {
  color: var(--white);
  font-family: "Do Hyeon", sans-serif;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.screen-title {
  color: var(--light);
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.screen-school {
  color: var(--warm);
  font-family: "Noto Sans", sans-serif;
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.screen-connect-button {
  background-color: var(--primary);
  border-radius: 25px;
  display: flex;
  font-family: "Do Hyeon", sans-serif;
  font-size: 1.5rem;
  height: 4rem;
  margin-top: 4rem;
  transition: 200ms ease;
  width: 14rem;
}

.screen-connect-button a {
  color: var(--white);
  margin: auto;
  text-decoration: none;
}

.screen-connect-button:hover {
  background-color: var(--secondary);
}

.button-exit,
.button-min,
.button-max {
  border-radius: 50%;
  height: 1rem;
  margin-right: 0.5rem;
  width: 1rem;
}

.button-exit {
  background-color: var(--warm);
  margin-left: 0.5rem;
}

.button-min {
  background-color: var(--light);
}

.button-max {
  background-color: var(--secondary);
}

.chevron-down {
  color: var(--white);
  filter: opacity(0.7);
  font-size: 3rem;
  margin: auto;
}

.about-screen {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin-left: 5rem;
}

.about-image-and-text {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.about-text-container {
  color: var(--white);
  display: flex;
  flex-direction: column;
  width: 50rem;
}

.about-title {
  color: var(--white);
  font-family: "Do Hyeon", sans-serif;
  font-size: 3.5rem;
  margin: 0;
  padding: 0;
}

.about-image {
  position: relative;
  margin-right: 3rem;
}

.about-real-pic {
  border-radius: 50%;
  width: 12rem;
}

.about-cartoon-pic {
  border-radius: 50%;
  filter: opacity(0);
  left: 0;
  position: absolute;
  width: 12rem;
  transition: 500ms ease;
}

.about-cartoon-pic:hover {
  filter: opacity(1);
}

.about-bar-top,
.about-bar-bottom {
  background: rgb(237, 174, 73);
  background: linear-gradient(
    90deg,
    rgba(237, 174, 73, 1) 0%,
    rgba(0, 121, 140, 1) 70%,
    rgba(48, 99, 142, 1) 100%
  );
  height: 0.4rem;
  width: 90%;
}

.about-bar-top {
  margin-bottom: 5rem;
}

.about-bar-bottom {
  margin-top: 5rem;
}
