/* Import fonts from Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Ubuntu&display=swap");

/* Set default font size, default font family, and CSS variables */
:root {
  font-size: 16px;
  font-family: var(--text-font);
  --background: #003d5b;
  --primary: #30638e;
  --secondary: #00798c;
  --warm: #d1495b;
  --light: #edae49;
  --white: #fff;
  --dark: #353535;
  --dark-hover: #404040;
  --dark-opaque: rgba(53, 53, 53, 0.7);
  --black: #202020;
  --title-font: "Do Hyeon", sans-serif;
  --text-font: "Ubuntu", sans-serif;
}

/* Remove default margin and padding */
body {
  margin: 0;
  padding: 0;
}

/* If the device screen is large, make room for the desktop browser navbar */
@media only screen and (min-width: 675px) {
  .home-screen,
  .about-screen,
  .projects-screen,
  .footer {
    margin-left: 5rem;
  }
}

/* Resize UI elements for extra small screens */
@media only screen and (max-width: 399px) {
  .home-screen,
  .about-screen {
    height: calc(100vh - 3rem);
  }

  .footer {
    margin-bottom: 3rem;
  }

  /* ------------------
    Home Screen elements
     ------------------ */
  .screen {
    height: 20rem;
    width: 90%;
  }
  .screen-connect-button {
    font-size: 1rem;
    height: 2.8rem;
    margin-top: 2rem;
    width: 12rem;
  }
  .screen-name {
    font-size: 1.8rem;
  }
  .screen-title,
  .screen-school {
    font-size: 1rem;
  }

  /* ------------------
    About Screen elements
     ------------------ */

  .about-real-pic,
  .about-cartoon-pic {
    max-width: 5rem;
  }

  .about-text {
    font-size: 0.7rem;
  }

  .about-title {
    font-size: 1.7rem;
  }

  .about-bar-top {
    margin-bottom: 1rem;
  }

  .about-bar-bottom {
    margin-top: 1rem;
  }

  /* ------------------
    Projects Screen elements
     ------------------ */
  .project-container {
    width: 90%;
  }

  .projects-screen-title {
    font-size: 1.7rem;
  }

  .project-title {
    font-size: 1rem;
  }

  .project-description {
    font-size: 0.7rem;
  }

  .project-image {
    width: 7rem;
  }

  .project-buffer {
    min-width: 0.7rem;
  }

  .project-github-button {
    height: 3rem;
    font-size: 0.7rem;
    width: 10rem;
  }
}

/* Resize UI elements for small screens */
@media only screen and (min-width: 400px) and (max-width: 674px) {
  .home-screen,
  .about-screen {
    height: calc(100vh - 3rem);
  }

  /* ------------------
    Home Screen elements
     ------------------ */
  .screen {
    height: 20rem;
    width: 75%;
  }
  .screen-connect-button {
    font-size: 1.2rem;
    height: 3rem;
    margin-top: 2.5rem;
    width: 12rem;
  }
  .screen-name {
    font-size: 2.5rem;
  }
  .screen-title,
  .screen-school {
    font-size: 1.2rem;
  }

  /* ------------------
    About Screen elements
     ------------------ */

  .about-real-pic,
  .about-cartoon-pic {
    max-width: 5rem;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-text {
    font-size: 0.8rem;
  }

  .about-bar-top {
    margin-bottom: 2rem;
  }

  .about-bar-bottom {
    margin-top: 2rem;
  }

  /* ------------------
    Projects Screen elements
     ------------------ */
  .project-container {
    margin-bottom: 2.5rem;
    width: 90%;
  }

  .projects-screen-title {
    font-size: 2rem;
  }

  .project-title {
    font-size: 1rem;
  }

  .project-description {
    font-size: 0.8rem;
  }

  .project-image {
    width: 10rem;
  }

  .project-buffer {
    min-width: 1rem;
  }

  .project-github-button {
    height: 3rem;
    font-size: 0.8rem;
    max-width: 12rem;
  }
}

/* Resize UI elements for medium screens */
@media only screen and (min-width: 675px) and (max-width: 899px) {
  .screen {
    height: 25rem;
    width: 75%;
  }

  .footer {
    margin-bottom: 3rem;
  }

  /* ------------------
    Home Screen elements
     ------------------ */
  .screen-connect-button {
    font-size: 1.2rem;
    height: 3rem;
    margin-top: 4rem;
    width: 12rem;
  }
  .screen-name {
    font-size: 3.5rem;
  }
  .screen-title,
  .screen-school {
    font-size: 1.5rem;
  }

  /* ------------------
    About Screen elements
     ------------------ */
  .about-title {
    font-size: 2.5rem;
  }

  .about-text {
    font-size: 0.9rem;
  }

  .about-bar-top {
    margin-bottom: 2.3rem;
  }

  .about-bar-bottom {
    margin-top: 2.3rem;
  }

  /* ------------------
    Projects Screen elements
     ------------------ */
  .project-container {
    margin-bottom: 3.5rem;
    width: 80%;
  }

  .projects-screen-title {
    font-size: 2.5rem;
  }

  .project-title {
    font-size: 1.2rem;
  }

  .project-description {
    font-size: 0.9rem;
  }

  .project-image {
    width: 15rem;
  }

  .project-buffer {
    min-width: 3rem;
  }

  .project-github-button {
    height: 3rem;
    font-size: 0.9rem;
    width: 14rem;
  }
}

/* Resize UI elements for large screens */
@media only screen and (min-width: 900px) {
  /* ------------------
    Home Screen elements
     ------------------ */
  .screen {
    height: 30rem;
    width: 65%;
  }

  .screen-connect-button {
    font-size: 1.4rem;
    height: 4rem;
    margin-top: 4rem;
    width: 14rem;
  }
  .screen-name {
    font-size: 4rem;
  }
  .screen-title,
  .screen-school {
    font-size: 2rem;
  }

  /* ------------------
    About Screen elements
     ------------------ */
  .about-title {
    font-size: 3rem;
  }

  /* ------------------
    Projects Screen elements
     ------------------ */
  .project-container {
    margin-bottom: 4rem;
    width: 75%;
  }

  .projects-screen-title {
    font-size: 3rem;
  }

  .project-title {
    font-size: 1.5rem;
  }

  .project-image {
    width: 20rem;
  }

  .project-buffer {
    min-width: 5rem;
  }

  .project-github-button {
    height: 3rem;
    width: 14rem;
  }
}
