@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Ubuntu&display=swap");

:root {
  font-size: 16px;
  font-family: var(--text-font);
  --background: #003d5b;
  --primary: #30638e;
  --secondary: #00798c;
  --warm: #d1495b;
  --light: #edae49;
  --white: #fff;
  --dark: #353535;
  --dark-hover: #404040;
  --dark-opaque: rgba(53, 53, 53, 0.7);
  --black: #202020;
  --title-font: "Do Hyeon", sans-serif;
  --text-font: "Ubuntu", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.screen-flex-container {
  display: flex;
  flex-direction: column;
}

.intro-screen {
  background: rgb(48, 99, 142);
  background: linear-gradient(
    135deg,
    rgba(48, 99, 142, 1) 0%,
    rgba(0, 61, 91, 1) 35%,
    rgba(0, 28, 42, 1) 100%
  );
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .intro-screen,
  .about-screen,
  .projects-screen,
  .footer {
    margin-left: 5rem;
  }
}

.icon {
  color: var(--light);
  font-size: 1.5rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.hamburger {
  color: var(--white);
  font-size: 1.5rem;
}

.mobile-icon {
  color: var(--white);
  font-size: 1.5rem;
}

.screen {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.screen-bar {
  align-items: center;
  background-color: var(--primary);
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  display: flex;
  min-height: 2rem;
  justify-content: flex-start;
  margin-top: 0;
  width: 100%;
}

.screen-text-area {
  align-items: center;
  background-color: var(--dark-opaque);
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.screen-name,
.screen-title,
.screen-school {
  text-align: center;
}

.screen-name {
  color: var(--white);
  font-family: var(--title-font);
  margin: 0;
  padding: 0;
  white-space: nowrap;
}

.screen-title {
  color: var(--light);
  margin: 0;
  padding: 0;
}

.screen-school {
  color: var(--warm);
  margin: 0;
  padding: 0;
}

.screen-connect-button {
  background-color: var(--primary);
  border-radius: 25px;
  display: flex;
  font-family: var(--title-font);
  transition: 200ms ease;
  white-space: nowrap;
}

/* Extra small screens */
@media only screen and (max-width: 399px) {
  .intro-screen,
  .about-screen {
    height: calc(100vh - 3rem);
  }

  .screen {
    height: 20rem;
    width: 90%;
  }
  .screen-connect-button {
    font-size: 1rem;
    height: 2.8rem;
    margin-top: 2rem;
    width: 12rem;
  }
  .screen-name {
    font-size: 1.8rem;
  }
  .screen-title,
  .screen-school {
    font-size: 1rem;
  }

  .about-screen {
    margin-bottom: 3rem;
  }

  .about-real-pic,
  .about-cartoon-pic {
    max-width: 5rem;
  }

  .about-text {
    font-size: 0.7rem;
  }

  .about-title {
    font-size: 2rem;
  }

  .about-bar-top {
    margin-bottom: 1rem;
  }

  .about-bar-bottom {
    margin-top: 1rem;
  }
}

/* Small screens */
@media only screen and (min-width: 400px) and (max-width: 599px) {
  .intro-screen,
  .about-screen {
    height: calc(100vh - 3rem);
  }

  .screen {
    height: 20rem;
    width: 75%;
  }
  .screen-connect-button {
    font-size: 1.2rem;
    height: 3rem;
    margin-top: 2.5rem;
    width: 12rem;
  }
  .screen-name {
    font-size: 2.5rem;
  }
  .screen-title,
  .screen-school {
    font-size: 1.2rem;
  }

  .about-screen {
    margin-bottom: 3rem;
  }

  .about-real-pic,
  .about-cartoon-pic {
    max-width: 5rem;
  }

  .about-title {
    font-size: 2.5rem;
  }

  .about-text {
    font-size: 0.8rem;
  }

  .about-bar-top {
    margin-bottom: 2rem;
  }

  .about-bar-bottom {
    margin-top: 2rem;
  }
}

/* Medium screens */
@media only screen and (min-width: 600px) and (max-width: 899px) {
  .screen {
    height: 25rem;
    width: 75%;
  }

  .screen-connect-button {
    font-size: 1.2rem;
    height: 3rem;
    margin-top: 4rem;
    width: 12rem;
  }
  .screen-name {
    font-size: 3.5rem;
  }
  .screen-title,
  .screen-school {
    font-size: 1.5rem;
  }

  .about-title {
    font-size: 3rem;
  }

  .about-text {
    font-size: 0.9rem;
  }

  .about-bar-top {
    margin-bottom: 2.3rem;
  }

  .about-bar-bottom {
    margin-top: 2.3rem;
  }
}

/* Large screens */
@media only screen and (min-width: 900px) {
  .screen {
    height: 30rem;
    width: 65%;
  }

  .screen-connect-button {
    font-size: 1.4rem;
    height: 4rem;
    margin-top: 4rem;
    width: 14rem;
  }
  .screen-name {
    font-size: 4rem;
  }
  .screen-title,
  .screen-school {
    font-size: 2rem;
  }

  .about-title {
    font-size: 3.5rem;
  }
}

.screen-connect-button a {
  color: var(--white);
  margin: auto;
  text-decoration: none;
}

.screen-connect-button:hover {
  background-color: var(--secondary);
}

.button-exit,
.button-min,
.button-max {
  border-radius: 50%;
  height: 1rem;
  margin-right: 0.5rem;
  width: 1rem;
}

.button-exit {
  background-color: var(--warm);
  margin-left: 0.5rem;
}

.button-min {
  background-color: var(--light);
}

.button-max {
  background-color: var(--secondary);
}

.chevron-down {
  color: var(--white);
  filter: opacity(0.7);
  font-size: 3rem;
  margin: auto;
}

.about-screen {
  align-items: center;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  position: relative;
}

.about-image-and-title {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.about-text-container {
  color: var(--white);
  display: flex;
  flex-direction: column;
  width: 80%;
}

.about-tech {
  color: var(--light);
}

.about-title {
  color: var(--white);
  font-family: var(--title-font);
  margin: 0;
  margin-right: 3rem;
  padding: 0;
  white-space: nowrap;
}

.about-image {
  position: relative;
  margin-right: 3rem;
}

.about-real-pic {
  border-radius: 50%;
  width: 7rem;
}

.about-cartoon-pic {
  border-radius: 50%;
  filter: opacity(0);
  left: 0;
  position: absolute;
  width: 7rem;
  transition: 500ms ease;
}

.about-cartoon-pic:hover {
  filter: opacity(1);
}

.about-bar-top,
.about-bar-bottom {
  background: rgb(237, 174, 73);
  background: linear-gradient(
    90deg,
    rgba(237, 174, 73, 1) 0%,
    rgba(0, 121, 140, 1) 70%,
    rgba(48, 99, 142, 1) 100%
  );
  height: 0.4rem;
  width: 90%;
}

.about-bar-top {
  margin-bottom: 3rem;
}

.about-bar-bottom {
  margin-top: 3rem;
}
